# Распознавание шаблонов

Имеются следующие данные по координатам городов и площади их метрополитена:

```python
('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
```

Требуется вывести название города, его широту и долготу для всех городов западного полушария

In [1]:
cities = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [2]:
for city in cities:
    match city:
        case(name, _, _, (lat, lon)) if lon <= 0:
            print(f'{name}: ({lat};{lon})')

Mexico City: (19.433333;-99.133333)
New York-Newark: (40.808611;-74.020386)
São Paulo: (-23.547778;-46.635833)

# Парсер

Сначала сделаем разбиение на токены:

In [3]:
import re

def get_flat_list(code):
    return re.findall(r'\(|\)|\w+\d*|\+|\-|\*|\/', code)

def get_hier_list(flat_list, start=0):
    result = []
    i = start + 1
    while (flat_list[i] != ')'):
        if (flat_list[i] == '('):
            lst, i = get_hier_list(flat_list, i)
            result += [lst]
        else:
            result += [int(flat_list[i]) if flat_list[i].isdigit() else flat_list[i]]
            i += 1
    return result, i + 1

def parse(code):
    return get_hier_list(get_flat_list(code))

In [4]:
parse('(gcd 18 45)')

(['gcd', 18, 45], 5)

In [5]:
parse('(define double (lambda (n)(* n 2)))')

(['define', 'double', ['lambda', ['n'], ['*', 'n', 2]]], 15)